
@{
    ViewBag.Title = "Index";
}

<script src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<h2>Index</h2>

<li>@Html.ActionLink("Create a game session", "GameSessionIndex", "GameSession")</li>

