

@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url("../../Content/images/game.jpg");
        background-repeat: no-repeat;
        /*height: 100%;*/
        /*width: 100%;*/
        background-size: cover;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-3" style="position:relative;top:30px">
                <center><p style="position:relative;top:10px"><a class="btn btn-default" href="/Game/GameIndex">Board Game Library</a></p></center>
         </div>
        <div class="col-sm-3" style="position:relative;top:30px">
            <center><p style="position:relative;top:10px"><a class="btn btn-default" href="/RPG/RPGIndex">RPG Library</a></p></center>
        </div>
        <div class="col-sm-3" style="position:relative;top:30px">
                <center><p style="position:relative;top:10px"><a class="btn btn-default" href="/PublicPlace/PublicPlaceIndex">Place Library</a></p></center>
            </div>
        <div class="col-sm-3" style="position:relative;top:30px">
            <center><p style="position:relative;top:10px"><a class="btn btn-default" href="/GeneralChat/GeneralChatIndex">Chat</a></p></center>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3" style="position:relative;top:30px">
            <center><p style="position:relative;top:10px"><a class="btn btn-default" href="/GameList/GameListIndex">Board Game Sessions</a></p></center>
        </div>
        <div class="col-sm-3" style="position:relative;top:30px">
            <center><p style="position:relative;top:10px"><a class="btn btn-default" href="/RPGList/RPGListIndex">RPG Sessions</a></p></center>
        </div>
        <div class="col-sm-3" style="position:relative;top:30px">
            <center><p style="position:relative;top:10px"><a class="btn btn-default" href="/PublicPlace/PublicPlaceList">Places</a></p></center>
        </div>
        <div class="col-sm-3" style="position:relative;top:30px">
            <center><p style="position:relative;top:10px"><a class="btn btn-default" href="/User/UserIndex">Account</a></p></center>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3" style="position:relative;top:30px">
            <center><p style="position:relative;top:10px"><a class="btn btn-default" href="/MyGameSessions/MyGameSessionsIndex">My Board Game Sessions</a></p></center>
        </div>
        <div class="col-sm-3" style="position:relative;top:30px">
            <center><p style="position:relative;top:10px"><a class="btn btn-default" href="/MyRPGSessions/MyRPGSessionsIndex">My RPG Sessions</a></p></center>
        </div>
        <div class="col-sm-3" style="position:relative;top:30px">
            <center><p style="position:relative;top:10px"><a class="btn btn-default" href="/Home/Contact">Contact</a></p></center>
        </div>
        <div class="col-sm-3" style="position:relative;top:30px">
            <center><p style="position:relative;top:10px"><a class="btn btn-default" href="/User/UserList">Users</a></p></center>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3" style="position:relative;top:30px">
            <center><p style="position:relative;top:10px"><a class="btn btn-default" href="/GameSession/GameSessionIndex">Create Board Game Session</a></p></center>
        </div>
        <div class="col-sm-3" style="position:relative;top:30px">
            <center><p style="position:relative;top:10px"><a class="btn btn-default" href="/RPGSession/RPGSessionIndex">Create RPG Session</a></p></center>
        </div>
    </div>
</div>
